{% extends "./base.html" %}

{% block content %}


<main class="jumbotron bg-dark" style="padding-top: 60px; height: 300px;">
    <div class="p-3 text-center">
        <h2 class="text-center text-light">Post Title</h2>
        <p class="lead text-light text-center">Lorem,  ipsum dolor  voluptateipsum dolor  voluptates  ipsum dolor  voluptates sipsum dolor  voluptates!</p>
        <a href="" class="text-light text-center">Continue reading</a>
    </div>
</main>
<section>
    <ul class="list-group list-group-flush">
        <li class="list-group-item p-3">
            <small class="text-muted">username</small> <br>
            <h3>Title</h3>
            <p style="font-size: 14px;" class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dignissimos eaque quisquam quis aut placeat corrupti laudantium provident tenetur sit necessitatibus iure, nemo illo non reprehenderit ut ea consectetur! Saepe!</p>
            <a href="" class="btn btn-outline-dark">Continue reading</a>
        
        </li>
        <li class="list-group-item p-3">
            <small class="text-muted">username</small> <br>
            <h3>Title</h3>
            <p style="font-size: 14px;" class="lead">Lorem ipsum dolor sit amet consectetur adipisicing elit. Explicabo dignissimos eaque quisquam quis aut placeat corrupti laudantium provident tenetur sit necessitatibus iure, nemo illo non reprehenderit ut ea consectetur! Saepe!</p>
            <a href="" class="btn btn-outline-dark">Continue reading</a>
        
        </li>
      
      </ul>
</section>
{% endblock content %}