{% extends "./base.html" %}

{% block head %}
  <style>
    .hidden { display: none;}
.readmore { margin: 0 5px;}


  </style>
{% endblock head %}

{% block content %}

<section>
  

    <ul class="list-group list-group-flush ml-2">

      {% if posts %}
        {% for post in posts.items  %}
       
      
          <div class="container p-3">

            <small class="text-muted"><img src="{{url_for('static', filename='profile_pic/' + post.author.image_file)}}" class="rounded-circle article-img img-fluid" style="height: 40px; width:40px;" alt=""> <a href="{{url_for('account')}}" style="text-decoration: none;">{{post.author.username}}</a></small><br>
            <h4><a class="text-dark" style="text-decoration: none;" href="{{url_for('post', post_id=post.id)}}">{{post.title}}</a></h4>
           
       
          </div>
 
      {% endfor %}
        
    </ul>
        {% else %}
        <p class="lead text-dark text-center">No posts added yet, create new posts</p>
        {% endif %}
  
    

    <div class="container d-flex justify-content-center space-left2">
      {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
      {% if page_num %}

      {% if posts.page == page_num %}

      
      <a href="{{url_for('home', page=page_num)}}"  class="btn btn-info mb-4 ml-4 btn-sm btn-block"><span>{{page_num}}</span></a>
       
      {% else %}
      <a href="{{url_for('home', page=page_num)}}"  class="btn btn-outline-info mb-4 ml-4 btn-sm btn-block"><span>{{page_num}}</span></a>
       
      {% endif %}
    
      {% else %}
         ...
      {% endif %}
    {% endfor %}
    </div>
  
       
      
</section>
{% endblock content %}
